
.container{
    margin-top: 0;
    margin: 0px 20px;
    display: flex;
    gap: 100px;
    padding: 100px 50px 50px;

    .personal-details{
        width: 50%;
    }
    .products{
        width: 50%;
    }
    .product-in-order{
        display: flex;
        flex-direction: row;
        gap: 20px;
       
    }
    span{
        color: grey;
        font-size: small;
    }
    label{
        font-weight: bold;
    }
    h3{
        margin-top: 40px;
    }
  
}
@media(max-width: 1300px) and (min-width: 768px){
    .container{
        flex-direction: column;
        gap: 0px;
        padding-left: 20px;
    }
}
@media (max-width: 767px){
    .container{
        flex-direction: column;
        gap: 10px;
        padding-left: 5px;
        font-size: 14px;
        padding-right: 0px;

    img{
        width: 150px;
    }
    .personal-details{
        width: 100%;
    }
   
    .products{
        width: 100%;
        h4{
            margin-top: 5px;
        }
    }
}
}
.payment{
    margin: 0px 50px 50px;
    
    span{
        font-weight: bold;
        
    }
    .payment-method{
        
        @extend %invoice;
    }
    .subtotal{
        @extend %invoice;
    }
}
%invoice{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
